# mac
.DS_Store

# editors
*.swp
.vim

# ignore ipynb, use MyST Markdown files instead!
# temporarily turned off until i figure out vscode
# **/*.ipynb

# ignore png outputs unless overidden.
**/*.png

# tutorial stuff
dem_download
.ipynb_checkpoints
__pycache__
_build
.virtual_documents

# other
.eggs
*.egg-info
build

# cython
_ext.cpp
aca_ext.cpp
*.so
