.dropdown-buttons-trigger,
.full-screen-button {
  visibility: hidden;
}

#bd-toc-nav {
  background-color: transparent !important;
}

.bd-sidebar {
  border-right: 0px !important;
}

.bd-toc {
  margin-top: calc(45px + 1.5em);
}

.tocsection {
  display: none;
}

.navbar-brand-box {
  display: none;
}
